@media(max-width: 500px){
    h1 {
	font-size: 18pt;
    }
}

body {
  padding-top: 1px;
  padding-bottom: 4px;
  background-color: #333;
  color: #fff!important;
}

.form-signin {
  max-width: 400px;
  padding: 1px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 12px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.buttonfemale {
  background-color: #c6ecd9!important;
  }
.buttonfemale:hover, buttonfemale:active, buttonfemale:focus {
  background-color: #339966!important;
  box-shadow: none;
  }
.buttonmale {
  background-color: #b3d9ff!important;
  }
.buttonmale:hover {
  background-color: #0066cc!important;
  }
.buttonmale:focus {
  background-color: #0066cc!important;
  }
  
  
